<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Purchase Online</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/login.css}" />
    <script th:src="@{js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/module/user.js}"></script>
    <script th:src="@{js/Particleground.js}"></script>
    <script>
        $(document).ready(function () {
            // Particle background
            $('body').particleground({
                dotColor: '#E8DFE8',
                lineColor: '#133b88'
            });
        });
    </script>
</head>
<body style="background-color: #f5f5f5;">
<div id="login" class="login">
    <div>
        <div>
            <div class="row">
                <div>
                    <image  th:src="@{img/logo.png}"></image>
    <h1><a href="/index.html" title="Purchase Online" tabindex="-1">Purchase Online</a></h1>
    <form name="resetpasswordform" id="resetpasswordform">
        <p>
            <label for="password">Password<br>
                <input type="password" name="password" id="password" class="form-control" value="" size="25" required="required"></label>
        </p>
        <p>
            <label for="confirmpassword">Confirm Password<br>
                <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" value="" size="25" required="required"></label>
        </p>
        <p id="reg_passmail" class="label label-info"></p>
        <br/>
        <br class="clear">
        <p class="submit"><input type="button" name="submit" id="submit" onclick="USER.newpassword()" class="btn btn-primary" value="Submit"></p>
    </form>

    <p id="nav">
        <a href="/login.html" class="btn-link">Login</a>
    </p>

    <p id="backtoblog"><a href="/index.html" class="btn-link">← Return to Home Page.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>