.price-sales {

    height: 20px;
    line-height: 20px;
    margin: 16px 8px 0;

}
.price {

    font-size: 18px;
    font-weight: 500;
    color: #FF5000;

}
.rmb {

    font-style: normal;
    font-size: 12px;
    vertical-align: baseline;
    margin-right: 1px;

}
.panel-item {
    border-color: #FF5000;
}

.panel-item > .panel-heading {
    color: #fff;
    background-color: #FF5000;
    border-color: #FF5000;

}

img.saleout-product {
    background: url(../img/saleoff.png);
    z-index: 99;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}